<meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="assets/css/master.css">
    <script type="text/javascript" src="assets/js/nav.js"></script>
<head>
  <title>Tristan Goodell | Home</title>
  <meta property="og:site_name" content="Tristan Goodell">
  <meta property="og:image" content="https://tristangoodell.com/assets/images/banner.jpg">
  <link rel="shortcut icon" href="/favicon.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="assets/favicons/favicon.ico">
	<link rel="icon" type="image/png" sizes="196x196" href="assets/favicons/favicon-192.png">
	<link rel="icon" type="image/png" sizes="160x160" href="assets/favicons/favicon-160.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/favicons/favicon-96.png">
	<link rel="icon" type="image/png" sizes="64x64" href="assets/favicons/favicon-64.png">
	<link rel="icon" type="image/png" sizes="32x32" href="assets/favicons/favicon-32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="assets/favicons/favicon-16.png">
	<link rel="apple-touch-icon" href="assets/favicons/favicon-57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/favicons/favicon-114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/favicons/favicon-72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="assets/favicons/favicon-144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="assets/favicons/favicon-60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="assets/favicons/favicon-120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="assets/favicons/favicon-76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="assets/favicons/favicon-152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="assets/favicons/favicon-180.png">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="assets/favicons/favicon-144.png">
	<meta name="msapplication-config" content="assets/favicons/browserconfig.xml">
</head>
<header>
<div class="banner">
  <div class="logotitle"></div>

  <style>
    .banner {
      background-image: url(assets/images/banner.jpg);
      height: 10%;
      background-position: center center;
    }
    .logotitle {
      background-image: url(assets/images/lt.png);
      height: 50%;
      background-repeat: none;
      object-fit: fill;
    }
  </style>

</div>

  <nav>
  <div class="topnav" id="myTopnav">
    <div>
      <a href="https://tristangoodell.com/" style="font-size: 25px;margin: 4px;">Home</a>
      <a href="https://tristangoodell.com/websites" style="font-size: 25px;margin: 4px;">Websites</a>
      <a href="https://tristangoodell.com/contact" style="font-size: 25px;margin: 4px;">Contact</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars" style="font-size:35px;"></i>
  </a>
</div>
</div>
</nav>
</header>

<body>
  <main id="content" class="content" role="main">

    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}

</main>
</body>

<footer>
<p style="text-align:center;margin:auto;color:#ffffff;background-color: #0b5394;" class="footer">Tristan Goodell © 2018</p>
</footer>
