
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://tristangoodell.com/assets/css/master.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="index.js"></script>
</head>
<header>
  <div class="banner">
    <div class="logotitle"></div>

    <style>
      .banner {
        background-image: url(assets/images/banner.jpg);
        height: 10%;
        background-position: center center;
      }
      .logotitle {
        background-image: url(assets/images/lt.png);
        height: 100%;
      }
    </style>

  </div>
</header>
  <nav>
<div class="topnav" id="myTopnav">
  <div style="text-align: center">
    <a href="https://tristangoodell.com/" style="font-size: 25px;margin: 4px;">Home</a>
    <a href="https://tristangoodell.com/websites" style="font-size: 25px;margin: 4px;">Websites</a>
    <a href="https://tristangoodell.com/contact" style="font-size: 25px;margin: 4px;">Contact</a>
<a href="javascript:void(0);" class="icon" onclick="myFunction()">
  <i class="fa fa-bars" style="font-size:35px;"></i>
</a>
</div>
<div style="float:right;">
  <a href="https://twitter.com/tristangoodell/" class=""style="margin:0;"><image src="../assets/images/twitter.png" style="height:40px;margin:0;"></image></a>
</div>
</div>
</nav>
<div class="w3-card w3-mobile" style="width:40%;padding: 1%;margin:auto;margin-top:2%;margin-bottom:2%;">
{{#post}}

<main class="content" role="main">
    <article class="{{post_class}}">

        <header class="post-header">
            <h1 class="post-title">{{title}}</h1>
        </header>

        <section class="post-content">
            {{content}}
        </section>

    </article>
</main>
{{/post}}
</div>

<footer>
<p style="text-align:center;margin:auto;" class="footer">Tristan Goodell © 2018</p>
</footer>
