<header>
  <title>Blog | Tristan Goodell</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://tristangoodell.com/assets/css/master.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" src="assets/js/nav.js"></script>
  <div style="height: 60%;">
  <div class="banner" style="height: 100%;">
    <style>
      .banner {
        background-image: url(https://tristangoodell.com/assets/images/banner.png);
      }
    </style>

  <div style="text-align:center;padding:30px;padding-bottom:0px;">

  <img src="https://tristangoodell.com/assets/images/logo.png" class="logo" style="margin:10px;margin-top:7%;"></img>
  <p class="title" style="margin-top:2%;font-family: 'Roboto Condensed', sans-serif;">Tristan Goodell</p>

  </div>
  </div>
</div>
  <nav>
  <div class="topnav" id="myTopnav">
    <div style="text-align: center">
      <a href="https://tristangoodell.com/" style="font-size: 25px;font-family: 'Roboto Condensed', sans-serif;">Home</a>
      <a href="https://tristangoodell.com/tag/blog" style="font-size: 25px;font-family: 'Roboto Condensed', sans-serif;">Blog</a>
      <a href="https://tristangoodell.com/webdesign.html" style="font-size: 25px;font-family: 'Roboto Condensed', sans-serif;">Web Design</a>
      <a href="https://tristangoodell.com/consulting.html" style="font-size: 25px;font-family: 'Roboto Condensed', sans-serif;">Consulting</a>
      <a href="https://tristangoodell.com/about.html" style="font-size: 25px;font-family: 'Roboto Condensed', sans-serif;">About</a>
      <a href="https://tristangoodell.com/contact.html" style="font-size: 25px;font-family: 'Roboto Condensed', sans-serif;">Contact</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
  </div>
  </div>
  </nav>
</header>
{{! The main content area on the homepage }}
<main class="content" role="main" style="font-family: 'Roboto Condensed', sans-serif;">

    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}

</main>

<footer>
<p style="text-align:center" class="footer">Copyright Tristan Goodell 2018</p>
</footer>
